# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.claude/
nul
/BUGFIXES_*.md
/COMO_TESTAR_INTELLIGENCE.md
/CONTENT_RADAR_MANUAL.md
/FASE*_TESTES.md
/FIX_*.md
/INSTALL_APIFY.md
/INTELLIGENCE_*.md
/LIMPAR_POSTS_INVALIDOS.sql
/SETTINGS_REDESIGN.md
/SOCIAL_PUBLISHER_*.md
/WHATSAPP_INTELLIGENCE_*.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify
